p, h3, span{
    color: white;
}
h1{
	color: #f29339;
}
h3{
	color: #f29339;
}

.teksti{
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	align-content: center;
}
.nextButton{
	background: #f29339;
	border: 1px solid #f29339;
	border-radius: 6px;
	box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
	box-sizing: border-box;
	color: #FFFFFF;
	cursor: pointer;
	display: inline-block;
	font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
	font-size: 16px;
	font-weight: 800;
	line-height: 16px;
	min-height: 40px;
	outline: 0;
	padding: 12px 14px;
	text-align: center;
	text-rendering: geometricprecision;
	text-transform: none;
	user-select: none;
	-webkit-user-select: none;
	touch-action: manipulation;
	vertical-align: middle;
	margin-top: 10px;
	
}
input[type=button] {
    font-family: Arial, Helvetica, sans-serif;

}

.tekstiMeFoto{
	width: 90%;
	height: 700px;
	position: relative;
	top: 55%;
	margin-top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
	border-radius: 10px;
	display: inline-flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	background-color: #3d3b3b;
	
}
.tekstiMeFoto span{
	display: block;
	max-width: 500px;
}
img{
	max-width: 700px;
	border-radius: 10px;
	/* content:url(MainPagePhotos/Photo1.jpg); */
}
.slide{
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
	margin-bottom: 20px;

}
.slide button{
	margin-left: 20px;
}
.slide img{
	/* width: 1500px; */
	border-radius: 10px;
	/* content:url(MainPagePhotos/Photo1.jpg); */
}
.product-slider{
	
	max-width: 21%;
}
.slick-track
{
    display: flex !important;
}

.slick-slide
{
    height: inherit !important;
}
@media (max-width : 1500px){
.tekstiMeFoto{
	margin-top: 45%;
}
}
@media (max-width : 1000px){
    img{
        max-width: 350px;
        transition: 0.2s;
        /* max-height: 236px; */
    }
    .teksti h1,span,h3{
        font-size: medium;
        transition: 0.2s;
    }
	.tekstiMeFoto{
		height: 400px;
		top: 40%;
	}
	.product-slider{
		max-width: 30%;
	}
    

}
@media (max-width : 700px){
    img{
        max-width: 350px;
        transition: 0.2s;
        /* max-height: 236px; */
    }
    .teksti h1,span,h3{
        font-size: small;
        transition: 0.2s;
    }

	.tekstiMeFoto{
		height: 300px;
		top: 35%;
	}
	.product-slider img{
		width: 1000px;
	}
    
}
@media (max-width : 700px){
    img{
        max-width: 150px;
        transition: 0.2s;
        /* max-height: 236px; */
    }
    .teksti h1,span,h3{
        font-size: xx-small;
        transition: 0.2s;
    }

	.tekstiMeFoto{
		height: 200px;
		flex-direction: column;
		top: 30%;
	}

}
@media (max-width : 500px){
    img{
        max-width: 150px;
        transition: 0.2s;
        /* max-height: 236px; */
    }
    .teksti h1,span,h3{
        font-size: xx-small;
        transition: 0.2s;
    }

	.tekstiMeFoto{
		height: 200px;
		flex-direction: column;
		top: 30%;
	}

}